<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Goals tracking app</title>
  <link rel="stylesheet" type="text/css" href="/css/main.css" />
  <link rel="stylesheet" href="/css/material.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>
  {{!-- Start of MDL Layout --}}
  <div class="mdl-layout mdl-js-layout mdl-layout--no-drawer-button mdl-layout--fixed-header mdl-color--grey-100">
    
    <header class="mdl-layout__header">
      <div class="mdl-layout-icon"></div>
      <div class="mdl-layout__header-row">
        <span class="mdl-layout__title">My current goals</span>
        <div class="mdl-layout-spacer"></div>
        <nav class="mdl-navigation">
          {{!--<a class="mdl-navigation__link" href="#">Hello</a>--}}
          {{!--<a class="mdl-navigation__link" href="#">World.</a>--}}
        </nav>
      </div>
    </header>
    
    <div class="mdl-layout__drawer">
      <span class="mdl-layout__title">My current goals</span>
      <nav class="mdl-navigation">
        {{!--<a class="mdl-navigation__link" href="#">Hello</a>--}} 
        {{!--<a class="mdl-navigation__link" href="#">You?</a>--}}
      </nav>
    </div>
    
    <main class="mdl-layout__content">
      <div>{{{body}}}</div>
    </main>

  </div> {{!-- End of MDL Layout --}}

  <script src="/js/material.min.js"></script>
  <script src="https://cdn.jsdelivr.net/umbrella/2.0.1/umbrella.min.js"></script>
  <script src="/js/main.js"></script>
</body>

</html>